.carrusel {
    margin-top: auto; /* Empuja el carrusel hacia la parte inferior */
    height: 100vh; /* Ajusta la altura al 100% de la altura de la vista */
    background-color: black;

}
.flecha{
    width: 40px;
    margin: 20px;
}
.carousel-inner1 img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */

}

#carouselExampleAutoplaying {
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido en la parte inferior */
    width: 100%;
    max-height: 100vh; /* Ajusta la altura al 100% de la vista */
    
}
