.contacto {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    background-color: black;
}  

.fotoCosta {
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor sin distorsionarse */
}

.textoContacto {
    display: flex; /* Activar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    z-index: 1;
    flex-direction: column;
    padding-left: 155px;
    padding-bottom: 20px;

    h3 {
        color: $color3;
        font-size: 36px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-style: italic;
        white-space: nowrap;
        letter-spacing: 1.5px; /* Espaciado entre letras */
        word-spacing: 4px; /* Espaciado entre palabras */
        line-height: 1.5; /* Altura de línea (interlineado) */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.contact-form {
    margin-top: 63px;
    width: 400px; /* Ancho ajustado para entrar en el espacio */
    max-width: 100%;
    max-height: 550px;
    height: auto;
    background-color: #00000059;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-right: 48px;
    z-index: 1;

    h2 {
        color: $color3;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

label {
    display: block;
    margin-bottom: 5px;
    color: $color2;
    text-align: start;
    padding-left: 20px; /* Para alinear los label con el comienzo de los inputs */
}

input {
    &[type="text"], &[type="date"], &[type="number"], &[type="email"] {
        background-color: #00000059;
        color: $color2;
        width: 90%;
        padding: 6px; /* Reducir el relleno */
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 30px;
    }
}

textarea {
    background-color: #00000059;
    color: $color2;
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
}

/* Contenedor para las fechas de entrada y salida */
.fechasContacto {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los grupos de fecha */
    width: 90%; /* Asegura que el ancho del contenedor de fechas se alinee con los demás inputs */
    margin-bottom: 8px;
    margin-left: 19px;
    gap: 20px; /* Espacio entre los grupos de fecha */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Ajustes específicos para los contenedores de fecha */
.fechasContacto .fecha1,
.fechasContacto .fecha2 {
    display: flex;
    flex-direction: column; /* Coloca el label sobre el input */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    width: 50%; /* Ocupa la mitad del espacio disponible para centrar horizontalmente */
}

/* Ajuste específico para los label de fechas */
.fechasContacto label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
    color: $color2;
    padding-left: 0; /* Quita cualquier padding añadido anteriormente */
}

.fechasContacto input {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho del contenedor de fecha */
    background-color: #00000059;
    color: $color2;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
}

#mensaje{
    resize: none; /* Desactiva el redimensionamiento */
}
/* Estilos para el botón de submit */
button[type="submit"] {
    color: $color2;
    background: #d135308a;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: white;
        background-color: #af340e;
        cursor: pointer;
    }
}

