.contacto {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding-top: 60px;
    padding-right: 60px;
    background-color: black;
}  

.fotoCosta {
    opacity: 70%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    flex-direction: column;
    text-align: center;

    h3 {
        color: #ffffff;
        font-size: 36px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-style: italic;
        white-space: nowrap;
        letter-spacing: 1.5px;
        word-spacing: 4px;
        line-height: 1.5;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.contact-form {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #00000059;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 16px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

    h2 {
        color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: start;
    padding-left: 20px;
}

input {
    &[type="text"], &[type="date"], &[type="number"], &[type="email"] {
        background-color: #00000059;
        color: #ffffff;
        width: 90%;
        padding: 6px;
        margin-bottom: 8px;
        border: 1px solid #ffffff;
        border-radius: 4px;
        box-sizing: border-box;
        height: 30px;
    }
}

textarea {
    background-color: #00000059;
    color: #ffffff;
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;
}

.fechasContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 8px;
    margin-left: 19px;
    gap: 20px;
    align-items: center;
}

.fechasContacto .fecha1,
.fechasContacto .fecha2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.fechasContacto label {
    margin-bottom: 5px;
    color: #ffffff;
    padding-left: 0;
}

.fechasContacto input {
    width: 100%;
    background-color: #00000059;
    color: #ffffff;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
}

#mensaje {
    resize: none;
}

button[type="submit"] {
    color: #ffffff;
    background: #00a29d;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: white;
        background-color: #00796b;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .contacto {
        position: relative;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    .textoContacto {
        h3{
            font-size: 20px;
        }
    }

    .contact-form {
        width: 100%;

    }

    .fechasContacto {
        flex-direction: column;
    }

    .fechasContacto .fecha1,
    .fechasContacto .fecha2 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contacto {
        position: relative;
        flex-direction: row;
        height: auto;
        width: auto;
    }

    .textoContacto {

        padding-left: 20px;
        text-align: center;
        h3{
            font-size: 20px;
        }

    }

    .contact-form {
        width: 80%;
        max-width: 400px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .fechasContacto {
        flex-direction: row;
    }

    .fechasContacto .fecha1,
    .fechasContacto .fecha2 {
        width: 45%;
    }
}

@media (min-width: 1025px) {
    .contacto {
        flex-direction: row;
        height: 100vh;
    }

    .textoContacto {
        padding-left: 155px;
    }

    .contact-form {
        width: 400px;
        margin-right: 48px;
    }

    .fechasContacto {
        flex-direction: row;
    }

    .fechasContacto .fecha1,
    .fechasContacto .fecha2 {
        width: 45%;
    }
}
