/* Estilos generales */
.departamentos {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    background-color: $color2;
}

.containerDepartamentos {
    padding: 20px;
}

.textoDepartamentos {
    padding: 20px 0px;
    font-family: 'Khula', sans-serif;
    color: $color6;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 450px;
}

.tituloDepto {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: $color5;
}

.subtituloDepto {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 22px; 
}

.textoDepto {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 15px; 
}

.aloeFooter {
    position: relative;
    width: 40px;
}

.fotosDeptos {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    transition: 0.3s;
}

.fotoSimbolo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 1;
    transition: opacity 0.3s, transform 0.3s;
}

.fotoDepto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.fotoDepto:hover {
    cursor: pointer;
    opacity: 50%;
}

.fotosDeptos:hover .fotoSimbolo {
    display: block;
    cursor: pointer;
}

.dep2 {
    display: flex;
    flex-direction: row-reverse; /* Ordena los elementos hijos de derecha a izquierda */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.dep2 .textoDepartamentos {
    flex: 1; /* Ocupa la mitad del contenedor */
}

.dep2 .fotosDeptos {
    flex: 1; /* Ocupa la otra mitad del contenedor */
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
}


.dep4 {
    display: flex;
    flex-direction: row-reverse; /* Ordena los elementos hijos de derecha a izquierda */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
}

.dep4 .textoDepartamentos {
    flex: 1; /* Ocupa la mitad del contenedor */
}

.dep4 .fotosDeptos {
    flex: 1; /* Ocupa la otra mitad del contenedor */
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
}



/* Móviles (hasta 767px) */
@media (max-width: 767px) {
    .item {
        flex-direction: column;
        grid-template-columns: 1fr; /* Una sola columna en móviles */
        height: auto; /* Altura automática para mejor adaptabilidad */
    }

    .tituloDepto {
        font-size: 30px; /* Tamaño más pequeño para pantallas pequeñas */
    }

    .subtituloDepto {
        font-size: 20px; /* Tamaño ajustado para pantallas pequeñas */
    }

    .textoDepto {
        font-size: 16px; /* Tamaño ajustado para pantallas pequeñas */
    }

}

/* Tabletas (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .item {
        
        grid-template-columns: 1fr 1fr; /* Dos columnas en tabletas */
        height: 400px; /* Ajusta la altura de cada elemento */
    }

    .tituloDepto {
        font-size: 40px; /* Tamaño ajustado para pantallas medianas */
    }

    .subtituloDepto {
        font-size: 22px; /* Tamaño ajustado para pantallas medianas */
    }

    .textoDepto {
        font-size: 17px; /* Tamaño ajustado para pantallas medianas */
    }

}

/* Escritorio (1025px y superior) */
@media (min-width: 1025px) {
    .item {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas grandes */
        height: 450px; /* Altura estándar para pantallas grandes */
    }

    .tituloDepto {
        font-size: 50px; /* Tamaño ajustado para pantallas grandes */
    }

    .subtituloDepto {
        font-size: 25px; /* Tamaño ajustado para pantallas grandes */
    }

    .textoDepto {
        font-size: 18px; /* Tamaño ajustado para pantallas grandes */
    }

}
