.EnlaceContacto {
    position: relative;
    text-align: center;
}

.contenedorEnlaceContacto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoEnlaceContacto {
    display: block;
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 500px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
}

.textoEnlaceContacto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 222, 179); /* Cambia el color del texto si es necesario */
    font-size: 5rem; /* Ajusta el tamaño del texto según sea necesario */
    font-family: 'Libre Baskerville';
    background: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para mejorar la legibilidad */
    padding: 0.5rem; /* Espaciado interno para el texto */
    border: 2px solid rgb(245, 222, 179);
    text-decoration: none;
    transition: 0.3s;
}

.textoEnlaceContacto:hover{
    color: rgb(211, 211, 211);
    border: 2px solid rgb(211, 211, 211);;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.FraseEnlaceContacto{
    position: absolute;
    color: white;
    top: 25%;
}