footer {
    padding-top: 20px;
    width: 100%;
    height: 225px;
    background-color: $color4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-content: center;
    margin-bottom: 0;
    margin-top: auto;/* Empuja el footer hacia abajo hasta el final de la página */
}
  
.columnaFooter {
    display: flex;
    flex-direction: column;
    font-family: 'Khula', sans-serif;

    h3 {
        margin-bottom: 10px;/* Esto elimina el margen inferior predeterminado */
        font-size: 25px;
        color: $color3;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
    }
    p {
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-size: 14px;
        max-width: 150px;
        margin: auto;
        color: $color2;
        text-decoration: none;
    }
}
.accesoNav {
    color: $color2;
    text-decoration: none;
    transition: text-shadow 0.3s ease; // Aplica una transición suave de 0.3s para la sombra del texto

    &:hover {
        text-shadow: 2px 2px 5px rgb(255, 255, 255); // Añade sombra al texto al pasar el ratón
    }
}

.logosRedes {
    display: flex;
    justify-content: space-between;
    margin: 20px 75px 20px 75px;/*sup, der, inf, izq*/
}
.logoRed img {/*faltaba el img para influir en el tamaño de las img*/
    width: 50px;
    height: 50px;
}

.footer-bottom {
    grid-column: 1 / -1; /* Se extiende a lo largo de todas las columnas del grid */
    text-align: center;
    margin-top: 20px; /* Añade espacio antes de la nueva sección */
}

.footer-line {
    width: 90%; /* Anchura de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: $color2; /* Color de la línea */
    margin: 0 auto; /* Centra la línea horizontalmente */
}

.copyright {
    margin-top: 10px; /* Espacio entre la línea y el texto de copyright */
    color: $color2; /* Color del texto de copyright */
    font-size: 14px; /* Tamaño del texto de copyright */
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}