footer {
    padding-top: 20px;
    width: 100%;
    background-color: $color4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-content: center;
    margin: 0;
}

.columnaFooter {
    display: flex;
    flex-direction: column;
    font-family: 'Khula', sans-serif;
    padding: 10px; /* Añadir relleno para evitar el desbordamiento */

    h3 {
        margin-bottom: 10px;
        font-size: 25px;
        color: $color1;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-size: 14px;
        max-width: 150px;
        margin: auto;
        color: $color1;
        text-decoration: none;
    }
}

.accesoNav {
    color: $color1;
    text-decoration: none;
    transition: text-shadow 0.3s ease;

    &:hover {
        text-shadow: 2px 2px 5px $color1;
    }
}

.logosRedes {
    display: flex;
    justify-content: space-between;
    margin: 20px auto; /* Ajustar para que no cause desbordamiento */
    max-width: 300px; /* Limitar el ancho máximo para evitar desbordamiento */
}

.logoRed img {
    width: 50px;
    height: 50px;
}

.footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

.footer-line {
    width: 90%;
    height: 1px;
    background-color: $color3;
    margin: 0 auto;
}

.copyright {
    margin-top: 10px;
    color: $color1;
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    footer {
        height: 200px;
        padding-top: 0px;
        grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas más pequeñas */
        text-align: center; /* Centrar contenido */
    }
    .accesoNav {
        display: none;
    }
    .columnaFooter{
         h3 {
            display: none;
         }
         p{
            display: none;
         }
    }

    .logosRedes {
        display: flex;
        flex-wrap: wrap; /* Permite que los íconos se envuelvan si no hay suficiente espacio */
        justify-content: center; /* Centra los íconos horizontalmente */
        margin: 0px auto; /* Ajustar margen */
        gap: 20px; /* Espacio entre los íconos ya que space-between a veces no tiene espacio en pantallas chicas */
    }

    .logoRed img {
        width: 40px; /* Ajusta el tamaño de los íconos si es necesario */
        height: 40px; /* Ajusta el tamaño de los íconos si es necesario */
        margin: 0; /* Elimina márgenes adicionales */
        padding: 0px;
    }
}
