/* Contenedor de diapositivas de la galería */
.galeria-slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    /* Establecer el contenedor para mostrar las imágenes en fila */
}

/* Estilo de cada diapositiva */
.galeria-slide {
    flex: 0 0 auto; /* Permite que cada slide se ajuste automáticamente en tamaño */
    width: 100%; /* Cada slide ocupa el 100% del contenedor */
}

/* Estilos para las imágenes dentro de las diapositivas */
.galeria-slide img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor del slide */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Media Queries para diseño responsive */

/* Teléfono Móvil */
@media (max-width: 767px) {
    .galeria-slide {
        width: 100%; /* Ocupa el 100% del contenedor en pantallas pequeñas */
    }
    
    .galeria-content {
        max-width: 90%; /* Mayor espacio en pantallas pequeñas */
        max-height: 90%;
    }

    .galeria-slide img {
        height: 70vh; /* Ajuste para pantallas más pequeñas */
    }

    .prev-btn, .next-btn {
        font-size: 18px; /* Tamaño de fuente más pequeño para botones */
        padding: 10px;
    }
}

/* Tableta/Escritorio Pequeño */
@media (min-width: 768px) and (max-width: 1199px) {
    .galeria-slide {
        width: 50%; /* Muestra dos imágenes a la vez */
    }

    .galeria-content {
        max-width: 85%;
        max-height: 85%;
    }

    .galeria-slide img {
        height: 75vh; /* Ajuste para pantallas medianas */
    }

    .prev-btn, .next-btn {
        font-size: 20px; /* Tamaño de fuente adecuado para pantallas medianas */
        padding: 15px;
    }
}

/* Escritorio/Laptop Grande */
@media (min-width: 1200px) {
    .galeria-slide {
        width: 25%; /* Muestra cuatro imágenes a la vez */
    }

    .galeria-content {
        max-width: 80%;
        max-height: 80%;
    }

    .galeria-slide img {
        height: 80vh; /* Ajuste para pantallas grandes */
    }

    .prev-btn, .next-btn {
        font-size: 24px; /* Tamaño de fuente grande para pantallas grandes */
        padding: 20px;
    }
}
