.galeriaInicio {
    height: 600px;
    margin: auto;
    background-color: $color4;
    text-align: center; /* Centramos el contenido del contenedor */
    padding-bottom: 20px;
    color: $color1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* 2 filas de igual altura */
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
}

.fotosDeptosInicio {
    position: relative;
    width: 100%;
    height: 270px; /* Altura fija para cada contenedor de imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
    transition: 0.3s;
}

.fotoSimboloInicio {
    display: none;
    position: absolute;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    z-index: 1;
    transition: opacity 0.3s, transform 0.3s; /* Transición para la opacidad y transformación */
}

.fotoDeptoInicio {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen mantenga la relación de aspecto */
    transition: 0.3s;
}

.fotoDeptoInicio:hover {
    cursor: pointer;
    opacity: 0.5;
}

.fotosDeptosInicio:hover .fotoSimboloInicio {
    display: block; /* Mostrar al hacer hover en .fotosDeptos */
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1); /* Escala a tamaño completo */
    opacity: 1; /* Hace el icono visible */
}

.fotoSimboloInicio:hover + .fotoDeptoInicio {
    opacity: 0.5; /* Reducir la opacidad al hacer hover en .fotoSimbolo */
}
/* Estilos para el overlay y el contenedor del carrusel */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

.carrusel-container {
    position: relative;
    z-index: 1001; /* Asegúrate de que esté sobre el overlay */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 90%; /* Para hacerlo responsive */
    max-height: 90%; /* Para hacerlo responsive */
    overflow: auto; /* Permitir scroll si es necesario */
}
