/* Establece las propiedades para el contenido de la galería */
.galeria-content {
    position: fixed; /* Cambiado a fixed para evitar desplazamientos inesperados */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    max-width: auto; /* Cambiado a un ancho máximo del 80% */
    max-height: auto; /* Cambiado a una altura máxima del 80% */
    overflow: auto; /* Añadido para manejar el desbordamiento de contenido */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.300);
    z-index: 1500;
}

/* Establece las propiedades para los contenedores de las diapositivas */
.galeria-slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

/* Establece las propiedades para las imágenes dentro de las diapositivas */
.galeria-slide img {
    width: auto; /* Cambiado a auto para ajustar la imagen al tamaño del contenedor */
    height: 80vh; /* Cambiado a una altura fija del 80% del viewport */
    max-width: 100%; /* Cambiado a un ancho máximo del 100% */
}

/* Establece las propiedades para el botón de diapositiva anterior y siguiente */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 20px;
}

.prev-btn {
    left: 0; /* Alinear el botón de navegación izquierdo */
}

.next-btn {
    right: 0; /* Alinear el botón de navegación derecho */
}


/* Establece las propiedades para los puntos de navegación entre las diapositivas */
.galeria-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.galeria-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1200;
}

.dot {/* Establece las propiedades para cada punto de navegación */
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
    &.active {
        background-color: #FFFFFF;/* Cambiado a blanco para mayor visibilidad */
    }
}
