.iconosServicios {
    position: relative;
    background-color: black;
    overflow: hidden; /* Evita que la imagen de fondo se desborde */
    padding-bottom: 20px;

    h1{
        position: relative;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        color: $color1;
        padding-top: 50px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 2;
        text-align: center; /* Centra el texto en pantallas más pequeñas */
    } 
    p {
        position: relative;
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        color: $color5;
        padding-top: 14px;
        padding-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 2;
        text-align: center; /* Centra el texto en pantallas más pequeñas */
    }

    .serviciosFondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.8;
        min-width: 100%;
        min-height: 100%;
    }

    .iconos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 20px; /* Ajuste del espacio entre iconos */
        color: $color1;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        font-size: 1.2rem; /* Tamaño de fuente relativo */
        padding-top: 20px;
        transition: 0.5s;
        text-align: center;

        @media (max-width: 389px) {
            grid-template-columns: repeat(3, 1fr); /* Ajusta a dos columnas para pantallas pequeñas */
            gap: 10px; /* Reduce el espacio entre los iconos */
            font-size: 0.7rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
            img {
                width: 30px; /* Tamaño ajustado de los iconos */
                height: auto;
            }
        }
        @media (min-width: 390px) and (max-width: 785px) {
            grid-template-columns: repeat(5, 1fr); /* Ajusta a tres columnas para pantallas medianas */
            gap: 15px; /* Ajusta el espacio entre los iconos */
            font-size: 0.7rem; /* Tamaño de fuente ajustado para pantallas medianas */
            .icono {
                img {
                    width: 36px; /* Tamaño ajustado de los iconos */
                    height: auto;
                }
            }
        }
        @media (min-width: 786px) and (max-width: 1024px) {
            grid-template-columns: repeat(5, 1fr); /* Ajusta a tres columnas para pantallas medianas */
            gap: 15px; /* Ajusta el espacio entre los iconos */
            font-size: 1rem; /* Tamaño de fuente ajustado para pantallas medianas */
            .icono {
                img {
                    width: 50px; /* Tamaño ajustado de los iconos */
                    height: auto;
                }
            }
        }

        @media (min-width: 1025px) {
            grid-template-columns: repeat(5, 1fr); /* Mantiene el número de columnas para pantallas grandes */
            gap: 20px; /* Espacio entre los iconos en pantallas grandes */
            font-size: 1.2rem; /* Tamaño de fuente para pantallas grandes */
            .icono {
                img {
                    width: 50px; /* Tamaño ajustado de los iconos */
                    height: auto;
                }
            }
        }
    }

    .icono {
        text-align: center;
        width: 100%;
        height: auto;
        transition: transform 0.3s;
        z-index: 1;

        .icono {
            img {
                width: 60px; /* Tamaño ajustado de los iconos */
                height: auto;
            }
        }

        &:hover {
            transform: scale(1.1);
        }

        p {
            padding-top: 5px;
            white-space: nowrap;
            transition: transform 0.3s;
        }
    }
}
