
/* Añadir estos estilos para asegurar que .Inicio ocupe el 100% del ancho y no cause desbordamiento */
.Inicio {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tituloInicio{
   
    color: $color1;
}
.textoInicio{
    font-size: 14px;
    color: $color5;
}
.carrusel,
.galeria-container,
.EnlaceContacto {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajustar el estilo de las imágenes del carrusel */
.carousel-item img {
    width: 100%;
    height: auto;
}
