/* CSS */
.presentacionInicio {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-areas:
        "fraseInicio tituloInicio"
        ". textoInicio"; /* La fraseInicio ocupará la segunda columna */
    padding: 40px;
    gap: 20px; /* Espacio entre columnas */
    font-family: "Urbanist", sans-serif;
    background-color: $color2;
}

.tituloInicio {
    grid-area: tituloInicio;
    color: $color1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fraseInicio {
    grid-area: fraseInicio;
    color: $color6;
}

.textoInicio {
    grid-area: textoInicio;
    color: $color6;
}
