/* CSS */
.presentacionInicio {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-areas:
        "fraseInicio tituloInicio"
        ". textoInicio"; /* La fraseInicio ocupará la segunda columna */
    padding: 40px;
    gap: 20px; /* Espacio entre columnas */
}

.tituloInicio {
    grid-area: tituloInicio;
}

.fraseInicio {
    grid-area: fraseInicio;
}

.textoInicio {
    grid-area: textoInicio;
    color: #464646;
}
