.servicios {
    position: relative;//#1 Para que la foto absolute quede atras de los elementos...
    height: 600px;
    margin-top: 20px;

    h1 {
        position: relative;//#2...hay que aclarar que los que van adelante son relative
        font-family: 'Urbanist', sans-serif;
        font-weight: 500;
        color: #f7c686;
        padding-top: 50px;
        padding-bottom: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
}
.serviciosFondo {
    position: absolute; /* Permite que la imagen ocupe todo el contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre todo el contenedor, manteniendo la proporción */
    z-index: 0; /* Coloca la imagen detrás de otros elementos */
    opacity: 80%;
}
.iconos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 0px;
    row-gap: 40px;
    color: wheat;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
    transition: 0.5s;
}
.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90px;
    transition: transform 0.3s;
    
    img {
        width: 65px;
    }
    &:hover {
        transform: scale(1.1);
    
        img {
            transform: scale(1.1);
        }
    
        p {
            transform: scale(1);/* Aplica la escala inversa al texto para compensar la escala del contenedor */
        }
    }
    p {
        padding-top: 5px;
        white-space: nowrap;/* Evita que el texto se divida en varias líneas */
        transition: transform 0.3s;/* Aplica la misma transición a transform del texto */
    }
}
