/*$color1: #fff1d8; //texto claro
$color2: #f5deb3; //fondo
$color3: #f7c686; //elementos importantes
$color4: #d13630; //seccion importante

$color5: #252525; //titulo texto oscuro
$color6: #464646; //texto oscuro 
*/
//$sombra: text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

$color1: #EEEEEE;
$color2: #131313; 
$color3: #00c1bb;
$color4: #000000;

$color5: #f4f4f4;
$color6: #cdcdcd;